*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height:100%;
    width: 100%;
    background-image: url(glittersilver.gif);
    background-size: cover;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.images{
    box-sizing:content-box;
    padding: 0%;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    border: none;
    overflow-y:scroll;
}