*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height:100%;
    background-color:maroon;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}